<button mat-raised-button class="buttonsuggestion" (click)="openDialog()">Contribute</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8, dimension">


  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->


  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef><b>Metric Name</b> </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef><b>Metric Description </b></th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <!-- References Column -->
  <ng-container matColumnDef="references">
    <th mat-header-cell *matHeaderCellDef><b>Metric References</b> </th>
    <td mat-cell *matCellDef="let element" [innerHTML]=element.references>  </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns  sticky: true" ></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

